<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<% if (locals.success) { %> 
		<div > 
			<%= locals.success %> 
		</div> 
		<% } %> 
		<% if (locals.error) { %> 
		<div> 
			<%= locals.error %> 
		</div> 
		<% } %> 
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
	</body>
</html>
