<%- include header %>

<% locals.posts.forEach(function(post,index){ %>
<div class="art">
	<p><a href="/post/<%= post.title%>"><%= post.title %></a> <span style="color:gray"><%= post.user %></span>
	<p><%= post.post %></p>
	</div>
<% })%>
		<%- include footer %>
