<%- include header %>
<h1><%= title %></h1>
<p class="gray"><%= name %> at <%= time %></p>
<div ><%= post %></div>
<p><% if(user){ %><a href="<%= title %>/edit">Edit</a> | <a href="<%= title%>/delete">Delete</a><% }%></p>
<section id="comments">
Comments:<br/>
   <% comments.forEach(function(comm,index){%>
<p class="comment">
   	  <%= comm.name %> say : "
	  <%= comm.content%> ";
	  <a href="/post/<%=title%>/comment/<%=comm.id%>/delete" class="del">X</a>
	</p>
   <%})%>
</section>
<form action="/post/<%= title %>/comment/add" method="post">
	<input type="text" name="name" placeholder="Your name for new comment"> <br><br>
	<input type="text" name="content" placeholder="The comment content"><br><br>
	<input type="submit" value="submit" id="xhr">
</form>
<script type="text/javascript">
var xhr = document.getElementById("xhr")
var form = document.forms[0]
var comm = document.getElementById("comments")
xhr.onclick=function(e){
	e.preventDefault();
	var url = form.action;
	var message = "name="+form.name.value+"&content="+form.content.value
    var req = new XMLHttpRequest()
	if(req ){
			req.open("POST",url,true)
		req.setRequestHeader("Content-type","application/x-www-form-urlencoded;charset:UTF-8");
			req.onreadystatechange=function(){
				console.log(req.readyState+"asd"+req.status)
			      if(req.readyState==4 &&req.status==200 ){
							var p = document.createElement("p")
							var commid = req.responseText
							p.className='comment'
							p.innerHTML=form.name.value+' say : "'+ form.content.value +'"; <a class="del" href="/post/'+"<%= title %>"+'/comment/'+commid+'/delete">X</a>'
							comm.appendChild(p)
							p.querySelector(".del").onclick=delete_comm
					  }	
				}
			req.send(message)
		}
	}
var dels=document.querySelectorAll(".del");
for(i in dels){
	dels[i].onclick=delete_comm
}

function delete_comm(e){
		e.preventDefault();
		var del_url=this.href
		var that = this
		var xhrget = new XMLHttpRequest()
			if(xhrget){
				xhrget.open("GET",del_url,true)
			    xhrget.onreadystatechange=function(){
						if(xhrget.readyState==4 && xhrget.status==200){
							that.parentNode.parentNode.removeChild(that.parentNode)
						}
					}
				xhrget.send(null)
			}
	}
</script>
<%- include footer %>
